$accent: #6A0BFF;
$text-primary: #222222;
$text-secondary: #FFFFFF;
$text-grey: #BBBBC8;
$text-muted: #A0A0A0;

$bg-grey: #D1D1D145;
$bg-white: #FFFFFF;
$bg-login: #F5F5F5;
$bg-login-footer: #F0F0F0;
